  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>

  <!-- BEGIN: Footer-->
  <footer class="footer footer-static footer-light">
    <p class="clearfix mb-0"><span class="float-md-right d-block d-md-inline-block mt-25">COPYRIGHT  &copy; 2024 My Book Vault<span class="d-none d-sm-inline-block">, All rights Reserved</span></span>
      <span class="float-md-left d-none d-md-block">
      <a href="/home">Privacy Policy</a> |
      <a href="/home">Terms of Service</a> |
      <a href="anshpatel@gmail.com">Contact Us</a> |
      Follow us on
      <a href="/home">Twitter</a>,
      <a href="/home">Facebook</a>,
      <a href="/home">Instagram</a>
    </span>
  </p>
  </footer>
  <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
  <!-- END: Footer-->


  <!-- BEGIN: Vendor JS-->
  <script src="/admin-assets/app-assets/vendors/js/vendors.min.js"></script>
  <!-- BEGIN Vendor JS-->

  <!-- BEGIN: Page Vendor JS-->
  <script src="/admin-assets/app-assets/vendors/js/charts/apexcharts.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/jszip.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js"></script>
  <script src="/admin-assets/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
  <!-- END: Page Vendor JS-->

  <!-- BEGIN: Theme JS-->
  <script src="/admin-assets/app-assets/js/core/app-menu.min.js"></script>
  <script src="/admin-assets/app-assets/js/core/app.min.js"></script>
  <script src="/admin-assets/app-assets/js/scripts/customizer.min.js"></script>
  <!-- END: Theme JS-->

  <!-- BEGIN: Page JS-->
  <script src="/admin-assets/app-assets/js/scripts/pages/dashboard-ecommerce.min.js"></script>
  <script src="/admin-assets/app-assets/js/scripts/tables/table-datatables-basic.min.js"></script>
  <!-- END: Page JS-->

  <script>
    $(window).on('load',  function(){
      if (feather) {
        feather.replace({ width: 14, height: 14 });
      }
    })

    // For Data table
    $(document).ready( function () {
    $('#table_id').DataTable();
    } );

    // For Select Subject based on Courses
    $(function(){
    $('#course_name').on('change', function(){
        var val = $(this).val();
        var sem = $('#subject_semester');
        var course_id = $('#course_id');
        $('option', sem).filter(function(){
            if (
                 $(this).attr('data-group') === val 
              || $(this).attr('data-group') === 'SHOW'
            ) {
              if ($(this).parent('span').length) {
                $(this).unwrap();
              }
            } else {
              if (!$(this).parent('span').length) {
                $(this).wrap( "<span>" ).parent().hide();
              }
            }
        });
        // Filter course id from dropdown
        $('option', course_id).filter(function(){
            if (
                 $(this).attr('data-group') === val 
              || $(this).attr('data-group') === 'SHOW'
            ) {
              if ($(this).parent('span').length) {
                $(this).unwrap();
              }
            } else {
              if (!$(this).parent('span').length) {
                $(this).wrap( "<span>" ).parent().hide();
              }
            }
        });
    });
    $('#course_name').trigger('change');
    });

  </script>
</body>
<!-- END: Body-->
</html>