<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description"
    content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
  <meta name="keywords"
    content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="PIXINVENT">
  <title>My Book Vault</title>
  <link rel="apple-touch-icon" href="/admin-assets/app-assets/images/ico/apple-icon-120.png">
  <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/app-assets/images/logo/book.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
    rel="stylesheet">

  <!-- BEGIN: Vendor CSS-->
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/vendors/css/vendors.min.css">
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/vendors/css/charts/apexcharts.css">
  <link rel="stylesheet" type="text/css"
    href="/admin-assets/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css"
    href="/admin-assets/app-assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css"
    href="/admin-assets/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css"
    href="/admin-assets/app-assets/vendors/css/tables/datatable/rowGroup.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css"
    href="/admin-assets/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
  <!-- END: Vendor CSS-->

  <!-- BEGIN: Theme CSS-->
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/bootstrap-extended.min.css">
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/colors.min.css">
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/components.css">
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/themes/dark-layout.min.css">
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/themes/bordered-layout.min.css">
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/themes/semi-dark-layout.min.css">

  <!-- BEGIN: Page CSS-->
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/core/menu/menu-types/vertical-menu.min.css">
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/pages/dashboard-ecommerce.min.css">
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/plugins/charts/chart-apex.min.css">
  <link rel="stylesheet" type="text/css"
    href="/admin-assets/app-assets/css/plugins/extensions/ext-component-toastr.min.css">
  <!-- END: Page CSS-->

  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="/admin-assets/app-assets/css/style.css">
  <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
  data-menu="vertical-menu-modern" data-col="">

  <!-- BEGIN: Header-->
  <nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow"
    style="width: calc(100vw - (100vw - 100%) - calc(2rem * 2))">
    <div class="navbar-container d-flex content">
      <div class="bookmark-wrapper d-flex align-items-center">
        <ul class="nav navbar-nav d-xl-none">
          <li class="nav-item"><a class="nav-link menu-toggle" href="javascript:void(0);"><i class="ficon"
                data-feather="menu"></i></a></li>
        </ul>
      </div>
      <a class="navbar-brand ml-3 text-center" href="/home">
        <img style="margin-top: -10px;margin-left: -13px;" src="/admin-assets/app-assets/images/logo/book.png"
          height="30px" width="30px" alt="">
        <h2 style="margin-left: -15px;margin-top: -5px;" class="brand-text">My Book Vault</h2>
      </a>
      <ul class="nav navbar-nav align-items-center ml-auto" style="gap: 1rem">
        <li class=" nav-item"><a class="d-flex align-items-center" href="/users"><i data-feather="user-check"></i><span
              class="menu-title text-truncate" data-i18n="Dashboards">Users List</span></a>
        </li>

        <li class=" nav-item"><a class="d-flex align-items-center" href="/books"><i data-feather="clipboard"></i><span
              class="menu-title text-truncate" data-i18n="Dashboards">Manage Books</span></a>
        </li>

        <li class="nav-item">
          <a href="/logout">
            <i class="mr-50" data-feather="log-out"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- END: Header